- name: "Install 'libreoffice' package"
  ansible.builtin.package:
    name: libreoffice
    state: present
  become: true
  become_user: root

- ansible.builtin.include_tasks: freebsd/spell_check.yml
  when: libreoffice_enable_spell_check

- ansible.builtin.include_tasks: freebsd/thesaurus.yml
  when: libreoffice_enable_thesaurus

