- name: "Install 'libreoffice-still' package"
  community.general.pacman:
    name: libreoffice-still
    state: present
  become: true
  become_user: root

- ansible.builtin.include_tasks: archlinux/spell_check.yml
  when: libreoffice_enable_spell_check

- ansible.builtin.include_tasks: archlinux/thesaurus.yml
  when: libreoffice_enable_thesaurus

